@model IEnumerable<Domonic.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary-xs"});
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MovieTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MovieId }, new { @class = "btn-xs btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.MovieId }, new { @class = "btn-xs btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MovieId }, new { @class = "btn-xs btn-primary" })
        </td>
    </tr>
}

</table>
